<%- include("partials/header") -%>

  <h1>Home</h1>
  <p><%= homestartingcontent %></p>

  <% newPost.forEach(function(post){ %>
    <h2><%= post.newTitle %></h2>
    <p>
        <% if( post.newBody.length > 100 ){ %>
          <%= post.newBody.substring(0,100) + "..." %>
          <a href="/posts/<%= post.newTitle %>">Readmore</a>
        <% }  else {%>
        <%= post.newBody %>
        <% } %>
    </p>
  <% }); %>
  <a href="/compose"><h4>Compose</h4></a>

<%- include("partials/footer") -%>
